
.exercise-score-box {
    padding-inline: 0.2em;
    padding-top: 0;
    padding-bottom: 0;

    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    margin-inline-end: 3px;
    margin-block-end: 3px;

    justify-content: space-between;

    height: fit-content;

    & legend {
        padding: 0;
        margin: 0;
        font-size: smaller;
        background-color: inherit;
    }
}
