.overlay-panel-widget-button {
    cursor: pointer;
}

.overlay-panel-widget-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s opacity ease-in-out;
}

.overlay-panel-widget-content {
    position: absolute;
    padding: 1em;
    max-width: 90vw;
    max-height: 90vh;
    overflow-y: scroll;
    opacity: 1;
    background-color: whitesmoke;
    will-change: transform;
    transition: 0.2s transform linear;
    z-index: 10;

    &.left {
        transform: translateX(-100%);
        left: 0;
    }
    &.right {
        transform: translateX(100%);
        right: 0;
    }
    &.top {
        transform: translateY(-100%);
        top: 0;
    }
    &.bottom {
        transform: translateX(100%);
        bottom: 0;
    }
}

.overlay-panel-widget-checkbox {
    appearance: none;
    display: none;

    &:checked {
        ~ .overlay-panel-widget-content {
            transform: translateX(0) translateY(0);
        }

        ~ .overlay-panel-widget-overlay {
            pointer-events: initial;
            background-color: darkgray;
            opacity: 0.8;
            z-index: 2;
        }
    }
}
