.exercise-segment {
    background-color: lightskyblue;
}

.sample-source-mask {
    background-color: light-dark(palegreen, green);
}
.sample-source-mask.segment-purge {
    background-image: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 4px,
            #9b9b9b 4px,
            #9b9b9b 5px
    );
}

.sample-source-ambient {
    background-color: light-dark(lightskyblue, royalblue);
}
.sample-source-ambient.segment-purge {
    background-image: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 4px,
            #9b9b9b 4px,
            #9b9b9b 5px
    );
}

@keyframes slide {
    /*this animates very smoothly. top to bottom works well, but stutters once per cycle(?)*/
    0% {
        background-position: 20px 10px, 20px 10px, 10px 10px, 10px 10px;
    }
    100% {
        background-position: 10px 0, 10px 0, 0 0, 0 0;
    }
}

@keyframes rotate {
    0% {
        --angle: -60deg;
    }
    100% {
        --angle: 60deg;
    }
}

/*seem to need --color to be a property so we can transition it*/
@property --color {
    syntax: "<color>";
    inherits: true;
    initial-value: black;
    /* initially we're stopped */
}

@property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: -60deg;
}

.protocol-position-pointer {
    opacity: 90%;
    overflow: hidden;
    border-top: 10px solid var(--color);
    border-bottom: 10px solid var(--color);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    position: absolute;
    top: -3px;
    bottom: -3px;
    width: 5px;
    right: calc(100% - 13px);
    transition: --color 0.4s linear;
}

*.protocol-position-pointer.paused {
    --color: firebrick;
}
*.protocol-position-pointer.in-progress {
    --color: green;
}

.protocol-position-pointer::before {
    content: ""; /*needed so this shows up*/
    background-color: var(--color);

    position: absolute;
    top: -10px;
    left: -5px;
    right: -5px;
    bottom: -10px;
    /*animation: slide 1s infinite linear, rotate 17s infinite ease-in-out alternate;*/
}

#protocol-executor-panel-main {
    transition: background-color 1s ease-in-out, opacity 1s ease-in-out, filter 1s ease-in-out;
}

#protocol-executor-panel-main.in-progress {
}

#protocol-executor-panel-main.idle {
    filter: grayscale(60%);
}

