.protocol-stage-element {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-collapse: collapse;
    border: 1px solid;
    min-width: fit-content;
}

.stage-name {
    display:inline-flex;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    padding-inline: 0.2em;
    min-width: fit-content;
}
.stage-segments {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space-collapse: preserve;
    min-width: fit-content;
}
.ambient-purge-segment {
        background-color: yellow;
}
.ambient-sample-segment {
    background-color: gold;
}
.mask-purge-segment {
    background-color: yellowgreen;
}
.mask-sample-segment {
    background-color: limegreen;
}
